        @charset "UTF-8";
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
        @font-face {
        font-family: 'android';
        src: url('pacote-projeto-desafiocap16/IDroid.otf')format('opentype');
        }
        
/* importações */

*{
 padding: 0%; 
    margin: 0%;
}

/* configuração global */

:root{
    --cor01: #ebe5c5;
    --cor02: #83e1ad;
    --cor03: #3ddc84 ;
    --cor04: #1a5c37 ;
    --cor05: #063d1e ;

    --fonte-padrao: Arial, helvetica, Verdana, 'Sanz-Serif';
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'android';
}
/* variáveis declaradas */

body{
    color: rgb(0, 0, 0);
    background-color: #C5EBD6;
    margin: 0%;
}
/* corpo */

header{  
    width: 100%;
    max-height: 300px;
    min-height: 100%;
    background-image: linear-gradient(to bottom, rgb(96, 207, 96), rgba(32, 31, 31, 0.911));
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.466);
}
header > h1{  
    width: auto;
    color: #ffffff;
    text-align: center;
    padding-top: 25px;
    font-family:  'Bebas Neue', cursive;
    font-size: 3em;
    text-transform: uppercase; 
    font-size: normal;
}
header > p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}
nav > a{
    font-family: var(--fonte-padrao);
    text-align: center;
    display: inline-block; 
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 10px;
    padding: 7px;
    border-radius: 5px;
    
}
nav > a:hover{
    background-color: var(--cor03);
    transition-duration: 0.5s;
    /* border-radius: 2px; */
    
}
/* primeira parte do site */

article {
    min-width: 300px; 
    max-width: 900px;
    background-color: rgb(255, 255, 255);
    margin: auto; 
    padding-top:10px;
    text-indent: 25px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 1px 1px 10px;
}
h1{
    font-family: 'android';
    color: rgb(1, 49, 1);
    font-size: xx-large; 
    padding-left: 20px;
    font-style: normal;
}
h2{
    color: rgb(43, 40, 40);
    background-image: linear-gradient(to right, rgb(69, 160, 69), transparent);
     margin-left: 25px; 
    font-family:'android';
    margin-right: 25px; 
}
h3{
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
        font-size: 18px;
        padding-top: 6px;
}   
p{  
    text-indent: 25px;
    padding: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
 }
a{
    text-decoration: none;
}
a.l1e2{
    color: rgb(1, 49, 1);
}
a.l3e4{
    color: rgb(1, 49, 1);
    background-color:  rgb(69, 160, 69);
}

footer a {
    color: #ffffff;
}
img#dandoids{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(max-width: 400px){
    article{
        padding-right: 15px;
    }
}
#divbusca{
    position: relative;
    top: 150px;
    left: 10px; 
}
#busca{
    border-radius: 15px;
    min-width: 150px;
    max-width: 300px;
    height: 30px;
    background-color: rgb(196, 179, 179);
    padding-left: 20px;
    font-family: italic;
    border-color: #83e1ad;
}
@media (max-width: 500px){
    #divbusca{
        top: 175px;
    }
}
img#img-bugdroid{
     max-width: 300px;
     display: block;
     
 } 
 img#img-irina{ 
     padding-left: 20px;   
     width: 95%;
 }
 div.video{
    background-color: #ffffff;
    padding-bottom: 50%;
    position: relative;
    margin-bottom: 30px;
    
}
div.video > iframe{
    position: absolute;
    top: 6%;
    left: 5%; 
    width: 90%;
    height: 90%;

}
/* segunda parte do site */

    div#cabeçalho-02 {
        background-color: rgb(0, 56, 0);
        height: 35px;
        width: auto;
        border-radius: 10px 10px 0px 0px; 
    }
    aside{
        background-color: rgba(173, 219, 173, 0.644);
        height: auto;
        width: auto;
        border-radius: 10px 10px 10px 10px; 
        margin-left: 25px;
        margin-right: 25px;
       
    }
    ul{
        list-style-type: '\2714\0020\0020';
        columns: 2;
        list-style-position: inside;
        text-indent: 10%;
    }
    ul > abbr{
        text-decoration: none;
    }
/* terceira parte do site */
     footer{
        background-color: rgb(0, 56, 0);
        height: auto;
        width: auto;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        padding: 6px;
        margin-top: 20px;
    }
    footer > a:visited{
        color: #ffffff;
    }
    